name: Android CI

on:
    push:
        branches:
            - main
            - "feat/**"
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v3

            - name: Ensure Gradle wrapper is executable
              run: chmod +x ./gradlew

            - name: Build Wear debug
              run: ./gradlew :wear:assembleDebug

            - name: Build Mobile debug
              run: ./gradlew :mobile:assembleDebug
